body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    max-height: 500px;
    background-color: lightsteelblue;
    padding: 10px;
}

.screen {
    background-color: aliceblue;
    padding: 20px;
    text-align: end;
}

.keyboard {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.keyboard button {
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
}